.form1{
    margin-top: 10pc;
    margin-left: 35pc;
    background-color: rgb(239, 228, 215);
    height: auto ;
    width:36pc;
    padding-top: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  button{
    
  }